<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Test</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>See the...</h1>
      <p>Hemispheres of Mars</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>
    <p> {{mars_data.newstitle}} </p>
    <p> {{mars_data.newsparagraph}} </p>
    <img src= "{{mars_data.featured_image}}" alt = "alt"> </img>
    <p> {{mars_data.table|safe}} </p>
    <img src= "{{mars_data.cerberus}}" alt = "alt"> </img>
    <img src= "{{mars_data.schiaparelli}}" alt = "alt"> </img>
    <img src= "{{mars_data.syrtis}}" alt = "alt"> </img>
    <img src= "{{mars_data.valles_marineris}}" alt = "alt"> </img>

  </div>
  </div>
</body>

</html>

