/* Adding font sizes for the h1, h2, and h3 elements*/
h1 {
  font-size: 60px;
  text-align: left;
}

h2 {
  font-size: 25px;
  text-align: left;
}


h3 {
  font-size: 20px;
  text-align: left;
}

/* Centering the Mars Hemisphers header */
.hemisphere_header {
  text-align: left
}

/* formatting for the p elements */
p {
  font-size: 20px;
  display: inline-block;
  padding: 25px;
  margin-right: 5px;
  margin-left: 5px;
  text-align: left;
}

/* to resize images when browser window changes size */
.responsive {
  width: 100%;
  height: auto;
}




